.house-heading {
  text-align:center;
  margin-top: 60px;
  font-weight: 400;
  font-size: 50px;
}
.house-page {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  flex-direction: row;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.house-card {
  width: 30%;
  margin: 30px auto;
  display: flexbox;
  


}
.house-card img {
  width: 100%;
  box-sizing: border-box;
}
.house-name h3 {
  color: orangered;
  margin-bottom: 20px;
  font-size: 22px;
}
.house-name a {
  padding: 4px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.house-name a:hover {
  color: orangered;
  cursor: pointer;
  transition-delay: 200ms;
  transform: scale(1.2);
  /* transition: all .3 ease; */
}


.house-location h4 {
  color: orangered;
  margin-bottom: 20px;
  font-size: 22px;
}
.house-location a {
  padding: 4px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.house-location a:hover {
  color: orangered;
  cursor: pointer;
  transition-delay: 200ms;
  transform: scale(1.2);
  
}



.house-description h2 {
  color: orangered;
  margin-bottom: 20px;
  font-size: 22px;
}
.house-description a {
  padding: 4px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.house-description a:hover {
  color: orangered;
  cursor: pointer;
  transition-delay: 200ms;
  transform: scale(1.2);
  
}