#us{
    color: #ea4e3a;
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

.topsection{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 30px;
    width: 80%;
    margin: auto;
}
.topsection h2{
    text-align: center;

}
.topsection p{
    text-align: center;
}
.row{
    background-color: #ea4e3a;
    color: white;
    margin: 32px;
    padding: 18px;
    border-radius: 7px;
    font-size: 24px;
}

.counties{
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    font-size: 22px;
    width: 70%;
}
.counties div{
    width: 30%;
}







