.home-banner {

    background-color: #260452;
    
}
  /* =========BANNER========= */
  /* =========info-cont========= */
  .info-cont {
    height: 80vh;
    width: 70%;
    margin: 70px auto;
  }
  .info-cont-header {
    text-align: center;
    margin: 30px;
  }
  .info-cont-cards {
    display: flex;
  }
  .info-cont-card {
    padding: 20px;
  }
  .info-cont-card i,
  .info-cont-card h1 {
    font-size: 26px;
    color: #a61a0e;
  }
  
  /* =========info-cont========= */
  /* ==progress-cont== */
  progress {
    background-color: red;
    height: 6px;
  }
  .progress-cont {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 90px 0;
    height: 300px;
  }
  .progress-cont-cont {
    background-color: #3b0337;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* text-align: left; */
  }
  .progress-cont-cont > * {
    width: 50%;
    margin: auto;
  }
  .progress-cont-cont button {
    width: fit-content;
    border: none;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #a61a0e;
    margin-top: 30px;
  }
  .progress-cont-pro {
    width: 50%;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: rgb(41, 3, 33);
    height: 100%;
  }
  .progress-cont-pro > * {
    width: 50%;
    margin: auto;
  }
  