   

    .house {
    /* padding: 20px 40px; */

    border: solid, grey;
    height: 55vh;
    width: 25vw;
  }
 
 
 .houseimage {
    height: 25vh;
    width: 17vw;
    border-radius: 5%;
    flex-direction: row;
  
   
    
  }

  .houseinfo{
    margin-top: 10px;
    color: blueviolet;

  }
  
 